<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button defaultHref = "tabs/tab2"></ion-back-button>
    </ion-buttons>
    <!--place variable from ts                                                                                   vbg-->
    <ion-title>{{place.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size- md ="8" offset-md = "2" class="ion-text-center">
        <ion-card>
          <img src = {{place.image}}>
          <ion-card-content>
            <p>{{place.description}}</p>
            <p> Available From: {{place.availableFrom | date}}</p>
            <p> Available To: {{place.availableTo | date}}</p>
          </ion-card-content>
        </ion-card>
        <!--enable users to edit offer page-->
        <ion-button
        [routerLink]="['/', 'tabs','tab2','editoffer',place.id]">Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
