<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot = "primary">
      <ion-button (click)="onEditOffer()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot= "icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <form [formGroup] = "form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position = "floating">Title</ion-label>
            <ion-input type="text autocomplete autocorrect"
            formControlName = "title"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position = "floating">Description</ion-label>
            <ion-textarea rows = 3
            formControlName = "description"></ion-textarea>
          </ion-item>
  
          <ion-item>
            <ion-label position = "floating">Price</ion-label>
            <ion-input type="number"
            formControlName = "price"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position = "floating">Available From</ion-label>
            <ion-datetime 
            min = "2020-01-01"
            max = "2025-12-31"
            formControlName = "availableFrom"></ion-datetime>
          </ion-item>
  
          <ion-item>
            <ion-label position = "floating">Available To</ion-label>
            <ion-datetime 
            min = "2020-01-01"
            max = "2025-12-31"
            formControlName = "availableTo"></ion-datetime>
          </ion-item>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>
