h1 {
    font-size: 18px;
    border: 1px solid var(--ion-color-tertiary);
    padding: 8px;
    border-radius: 5px;
    color: var(--ion-color-tertiary);
}
.offer-details {
    display: flex;
    align-items: center;
    .space-left{
        margin-left: 3px;
    }
}